Submit {
    margin-left: 1;
}

Input {
    margin-right: 1;
}

Label {
    margin-left: 1;
}

Menubar {
    width: 30;
}

MenuItem {
    box-sizing: content-box;
    content-align: center middle;
    color: $text;
    height: 1;
    margin-left: 1;
    margin-right: 2;
    margin-top: 1;
    margin-bottom: 1;
    padding-top: 1;
    padding-bottom: 1;
}

Menubar>MenuItem.--highlight {
    background: $accent;
    text-style: bold;
}

RichLog {
    border: tall $background;
    background: $boost;
    overflow-y: auto;
}

Sidebar {
    width: 40;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;
    dock: left;
}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Container {
    background: $boost;
    color: $text;
    height: 1fr;
    border-right: vkey $background;
}

Sidebar Markdown {
    margin: 0 1;

}

Sidebar SidebarTitle {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    text-align: center;
    text-style: bold;
}

Sidebar.action {
    layer: above;
}

Switch {
    border: blank;
}

Switch>.switch--slider {
    background: $panel-lighten-2;
    color: white;
}

Switch.-on>.switch--slider {
    background: rgb(11, 95, 255);
    color: white;
}

TextArea {
    height: 20;
}

.unselected {
    display: none;
}

.unselected.visible {
    display: block;
}

.assign-to-me {
    height: 3;
    content-align: left middle;
    margin-left: 1;
}

#main-content {
    height: 2fr;
}

Text {
    width: 30;
    text-align: center;
    padding-right: 2;
}

#switch-container {
    margin-left: 1;
    height: auto;
}